.margin-bottom-0 {
    margin-bottom: 0;
}

.line-clamp-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.z_index_1031 {
    z-index: 1031;
}

.z_index_1032 {
    z-index: 1032;
}